<h1> Subscriptions for {{ mitarbeiter.Vorname }} {{ mitarbeiter.Nachname }} ({{mitarbeiter.email}})  - </h1
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<form action="{% url 'ZSIV:subscribe' mitarbeiter.id %}" method="post">
{% csrf_token %}
{% for journal in journallist %}
 <input type="radio" name="journal" id="journal{{ forloop.counter }}" value="{{ journal.id }}" />
{% endfor %}
<input type="submit" value="drickn" />
</form>

<form action="" method="post">
    {# This will display the radio button HTML for you #}
    {{ form.as_p }}
    {# You'll need a submit button or similar here to actually send the form #}
</form>

<form action="" method="post">
    <label for="l_box1"><input type="radio" name="display_type" value="locationbox" id="l_box1">Display sss Location</label>
    <label for="d_box2"><input type="radio" name="display_type" value="displaybox" id="d_box2"> Display Direction</label>
</form>
