{% extends "ZSIV/base.html" %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<h3>OPL Email Tool  <small>Dokumentation</small></h3>

		<div class="panel panel-default">
			<div class="panel-heading"><h3 class="panel-title">Menü ZSIV</h3></div>
			<div class="panel-body">
				Ruft die Hauptseite - also diese Seite hier - auf. 
			</div>
			<div class="panel-heading"><h3 class="panel-title">Menü Subscriptions</h3></div>
			<div class="panel-body">
				For Persons: Welche Zeitschriften werden von einem bestimmten Mitarbeiter abonniert. 
			</div>

			<div class="panel-heading"><h3 class="panel-title">Menü Summaries</h3></div>
			<div class="panel-body">
				test
			</div>



		</div>
	</div>
</div>
{% endblock %}
