<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
    <title>My Home Page</title>           
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" media="screen" />	
	</head>
	<body>

<style type="text/css">
	.my_content_container a {
  border-bottom: 1px solid #777777;
  border-left: 1px solid #000000;
  border-right: 1px solid #333333;
  border-top: 1px solid #000000;
  color: #000000;
  display: block;
  height: 2.5em;
  padding: 0 1em;
  width: 5em;       
  text-decoration: none;       
	}
	// :hover and :active styles left as an exercise for the reader.
</style>



<p>Admin site: </p>    



<div class="my_content_container">
	<a href="{% url 'admin:index' %}"> Main Page </a></li>
</div>


<div class="my_content_container">
<a href="{% url 'admin:index' %}ZSIV/mitarbeiter"> Persons </a></li>
</div>

<div class="my_content_container">
	<a href="{% url 'admin:index' %}ZSIV/journals"> Journals </a></li>
</div>

<div class="my_content_container">
	<a href="{% url 'admin:index' %}ZSIV/summaries"> Summaries </a></li>
</div>






<p>Manage Subscriptions: </p>    
<div class="my_content_container">
	<a href="{% url 'ZSIV:indexMA' %}"> for Person </a></li>
</div>

<div class="my_content_container">
	<a href="{% url 'ZSIV:indexJournal' %}"> for Journal </a></li>
</div>


<p>Manage Summaries: </p>    

<div class="my_content_container">
	<a href="{% url 'ZSIV:Summaries-add'  %}"> New </a></li>
</div>

<div class="my_content_container">
	<a href="{% url 'ZSIV:Summaries-delete-multi' %}"> Delete </a></li>
</div>

<div class="my_content_container">
	<a href="{% url 'ZSIV:summaries-index' %}"> All  </a></li>
</div>

<div class="my_content_container">
	<a href="{% url 'ZSIV:summaries-unsent' %}"> Unsent </a></li>
</div>

<p> Email Queue: </p>    
<div class="my_content_container">
	<a href="{% url 'ZSIV:queue' %}"> Queue </a></li>
</div>



	</body>
</html>
