{% extends "ZSIV/base.html" %}
{% block content %}

<div class="row">
<div class="col-md-12">
<h3>Zeitschriften<small> in der Datenbank</small></h3>
{% if list_to_view %}
<table class="table table-striped table-hover table-condensed">

	<thead>
		<tr class="active"><th>Name</th><th>Kurztitel</th><th>Quelle</th><th>-</th><th>-</th>
		</tr>
	</thead>
	<tbody>
    {% for jrn in list_to_view %}
		<tr>
			<td> 			{{ jrn.Name }} 	  </td>
			<td>  				{{ jrn.Kurztitel }}  </td>
			<td> 					{{ jrn.Quelle }} </td>
			<td> 					<a href="{% url 'ZSIV:Journal-update' jrn.id  %}">update</a> </td>
			<td> 					<a href="{% url 'ZSIV:Journal-delete' jrn.id  %}">delete</a> </td>
		</tr>
    {% endfor %}
	</tbody>
</table>

{% else %}
    <p>Keine Daten!</p>
{% endif %}
t
</div>
</div>

{% endblock %}
