{% extends "ZSIV/base.html" %}
{% block content %}
<div class="row">
	<div class="col-md-7">
		<h3>Löschen des Journals bestätigen</h3>
		<div class="panel panel-default">
			<div class="panel-heading"><h3 class="panel-title">{{Journal.Name}} {{Journal.Kurztitel}} - {{Journal.Quelle}}   </h3></div>
			<div class="panel-body">
				<form action="{% url "ZSIV:Journal-delete" pk=Journal.id %}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form.as_p }}
					<!--<input type="submit" value="submit" />-->
					<!-- <hr /> -->
					<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span>do it!</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
