{% extends "ZSIV/base.html" %}

{% block content %}
<div>
<div>
<h3>Email Queue</h3>
<form action="{% url "ZSIV:queue" %}" method='post' enctype="multipart/form-data">
{% csrf_token %}
<ul> 
{% for email in emails %}
<li><b>Attachments to {{email.recipients.0}} </b>
  <ul>
    {% for attachment in email.attachments %}
    <li>{{attachment.0}} </li>
    {% endfor %}
  </ul>
</li>
{% endfor %}
</ul> 
<!--<input type="submit" value="send now" />-->
<button class="btn btn-primary"><span class="glyphicon glyphicon-envelope"></span> SEND</button>
</form>
</div>
</div>
{% endblock %}
